
<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a class="brand-logo right">Rotas</a>
    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
      <li routerLinkActive="active">
        <a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
