<div class="alert alert-info" role="alert">
  Seja <b>bem-vindo</b> ao Sistema {{siteName | uppercase}} do TCE-RJ.
</div>

<!--
  Criar um seletor para o codigo abaixo
 -->
<div class="portlet">
  <h4>Alterar Quantidade de Threads</h4>
  <p id="qtdThreads"></p>
  <button (click)="alterarThread()" class="btn btn-primary"
  id="alterarThreads">
    Alterar
  </button>
  <div class="portlet" id="tela-processamento" style="text-align: center">
    <h1 [ngStyle]="{'color' : corLetra}">Processamento</h1>
    <div>
      <select #situacao (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-warning">Processando</option>
        <option value="alert-danger"
        >Falhou</option>
      </select>
    </div>
    <br><br>
    <div class="alert {{ situacao.value }}" role="alert" id="status">
        Status
    </div>
    <button id="info" class="btn btn-primary"
      (click)="showModel()">
      Info
    </button>

    <span
      (mouseover)="onMouseStatus()"
      (mouseout)="onMouseStatus()"
      class="{{ alertValue }}"
      >
      Processo x
    </span>
    <br><br>




  </div>


  <!--
    Criar um outro seletor para o model
  -->

  <div class="portlet" *ngIf="isShowed">
      <button type="button" class="close" aria-label="Close" (click)="hideModel()">
        <span aria-hidden="true">&times;</span>
      </button>
    <h1>Model Info</h1>
    <!-- <div class="alert {{ situacao.value }}" role="alert" id="status"></div> -->
    <div>
      <span class="status-circlee" style="background-color: blue"
        style="background-color: green">
      </span>
    </div>

    <p>Quantidade de Páginas: {{qtdPagina}}</p>

    <a href="http://www.google.com.br" target="_blank" style="float: left">
      <button type="button" class="btn btn-outline-info">Link Página Processada</button>
    </a>

    <a href="https://www.tce.rj.gov.br/" target="_blank">
      <button type="button" class="btn btn-outline-dark" style="float: right">Documento Original</button>
    </a>

  </div>

</div>




<img src="assets/img/primeiroFront.png" id="exemplo">
