#status {
  width: 100px;
  height: 50px;
}


#exemplo {
  //float: right;
  width: 300px;
  height: 350px;
}


#tela-processamento {
  border: 2px dotted white;
}

.highlight {
  background-color: yellow;
}

.status-circlee {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
