<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="usuario.nome" id="usuario" type="email" class="validate">
        <label for="usuario">Usuario</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="usuario.senha" id="senha" type="password" class="validate">
        <label for="senha">Senha</label>
      </div>
    </div>
  </div>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action" (click)="fazerLogin()">
  Submit
  <i class="material-icons right">send</i>
</button>
