<p>
  cursos works!
</p>
<p>Pagina: {{pagina}}</p>

<div class="collection">
  <a *ngFor="let curso of cursos" class="collection-item"
    [routerLink]="['/curso', curso.id]">
    {{curso.nome}}
  </a>
</div>

<button (click)="proximaPagina()">Próxima Página</button>
