<button class="btn-btn-primary" (click)="onGrid()">
  Grid
</button>
<button class="btn-btn-primary" (click)="onQtdThreads()">
  Quantidade de Threads
</button>

<button class="btn-btn-primary" (click)="setQtd()">
  Set Qtd Threads
</button>

<button class="btn-btn-primary" (click)="logProcessos()">
  Console.log(processos)
</button>
<br><br><br>
<p>Processos: {{ processos | json}}</p>
<p>OCR: {{ info | json}}</p>
<span>
  Access to XMLHttpRequest at 'http://cpu-7434:8080/lista-grid' from origin 'http://localhost' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
</span>
