<h1>Detalhes do Mangá</h1>

<p>Tipo: {{livro.tipo}}</p>
<p>Titulo: {{livro.titulo | lowercase | camelCase}}</p>
<p>Volume: {{livro.volume}}</p>
<p>Nota: {{livro.nota | number:'2.1-2'}}</p>
<p>Capitulos: {{livro.capitulos}}</p>
<p>Preco: {{livro.preco | currency:'BRL'}}</p>
<p>Data de Lançamento: {{livro.dataLancamento | date:'dd-MMM-yyyy'}}</p>


<h4>Pipe Puro</h4>
<input type="text" [(ngModel)]="filtro"><br><br>

<input type="text" #novoManga>
<button (click)="addManga(novoManga.value)">Adicionar Mangá</button>

<ul>
  <li *ngFor="let m of mangas | filtroArray:filtro">
    {{m}}
  </li>
</ul>
<br><br>

<h4>Pipe Impuro</h4>
<input type="text" [(ngModel)]="filtro"><br><br>

<input type="text" #mangaImpuro>
<button (click)="addManga(mangaImpuro.value)">Adicionar Mangá</button>

<ul>
  <li *ngFor="let m of mangas | filtroArrayImpuro:filtro">
    {{m}}
  </li>
</ul>
<br><br><br>

<h4>Filtro Correto</h4>
<input type="text" [(ngModel)]="filtro"><br><br>

<input type="text" #filtroCorreto>
<button (click)="addManga(filtroCorreto.value)">Adicionar Mangá</button>

<ul>
  <li *ngFor="let m of obterMangas()">
    {{m}}
  </li>
</ul>


<p>{{valorAsync | json}}</p>
