<p appFundoAmarelo>
  Texto com fundo amarelo
</p>


<button appFundoAmarelo>Botao com fundo amarelo</button>


<p appHighlightMouse>
  Texto com highlight com mouse
</p>


<p appHighlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight customizadas.
</p>


<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
  </div>

  <div *ngElse="mostrarCursos">
    Não há cursos para serem listados.
  </div>

  <button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
