<p>
  Descricao: {{tarefa.desc}}
</p>

<!-- <p>Responsavel: {{tarefa.responsavel.nome}}</p> -->

<!-- <p>Responsavel: {{tarefa.responsavel != null ? tarefa.responsavel.nome: ''}}</p> -->
<p>Responsavel: {{tarefa.responsavel?.nome}}</p>

<p>Usuario Responsavel: {{tarefa.responsavel?.usuario?.nome}}</p>
