/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

app-root, body, html {
    height: 100%;
}

body {
    background-color: #F2F3F8;
}

.page, body {
    display: flex;
    flex-direction: column;
}

.stack {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;

    .stack-item {
        display: table-cell;
        height: 100%;
    }
}

header {
    color: #FFF;
    background-color: #09498E;
    border-bottom: 3px solid #002e5f;
    height: 70px;
    transition: all .3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);

    > .container-fluid {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        padding: 0 20px;

        .stack-item {
            vertical-align: middle;

            .menu-toggler,
            ul.navbar-nav li {
                > i.icons {
                    cursor: pointer;
                    font-size: 24px;
                    padding: 10px;
                    margin-left: -10px;
                    border-radius: 100%;
                }
                > i.icons:hover,
                > i.icons.active {
                    background-color: #002e5f;
                }
            }

            .logo {
                text-decoration: none;

                .logo-img {
                    height: 35px;
                    width: auto;
                }
    
                .sitename {
                    color: #98c0ea;
                    font-size: 30px;
                    font-weight: bold;
                    margin-left: 10px;
                    text-shadow: -1px 1px 0px #002e5f;
                }
            }
        }
    }
}
.header-with-sidebar {
    header {
        left: 250px;
    }
}

.main-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    padding-left: 250px;
    padding-top: 70px;
    transition: all .3s ease;

    .sidebar {
        background-color: #2c2e3e;
        width: 250px;
        top: 0;
        bottom: 0;
        position: fixed;
        height: auto!important;
        left: 0;
        z-index: 100;
        transition: all .3s ease;
        overflow-x: hidden;
        overflow-y: hidden;

        > .sidebar-header {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
            background-color: #222433;
            font-size: 27px;
            white-space: nowrap;
        }

        > .menu-lateral-container {
            height: calc(100% - 70px);
        }

        ul.menu {
            > li.menu-item {
                position: relative;
                margin: 0 0 1px 0;
                display: block;
                float: none;
                height: auto;
                padding: 0;
                list-style: none;
                width: 250px;

                .menu-link {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: 57px;
                    padding: 1rem;
                    margin: 0;
                    text-decoration: none;
                    outline: 0;
                    transition: background-color .3s ease;

                    >i {
                        color: #FFF;
                    }
                    >i.icons {
                        display: inline-block;
                        text-align: center;
                        line-height: 0;
                    }
                }
                .menu-link.active {
                    background-color: #f2f3f8;

                    i, span {
                        color: #2C2E3E;
                    }
                }
            }
            > li.menu-item .menu-link > i.icons {
                font-size: 1.5rem;
                width: 24px;
                margin: 0 19px 0 4px;
            }
            > li.menu-item .menu-link > span {
                color: #FFF;
                display: inline-block;
                white-space: normal;
                line-height: 1;
            }
            > li.menu-item.open {
                > .menu-link {
                    background-color: #1b1d29;
                }
                > ul.submenu {
                    background-color: #414354;
                    border-bottom: 3px solid #1b1d29;

                    > li.menu-item > .menu-link:hover {
                        background-color: #5b5d75;
                    }

                    > li.menu-item.open {
                        > .menu-link {
                            background-color: #5b5d75;
                            border-bottom: 1px solid #74768e;
                            padding: 1.1rem 1rem 1rem 1rem;
                        }
                        > ul.submenu {
                            background-color: #5b5d75;
        
                            > li.menu-item > .menu-link:hover {
                                background-color: #b1b4ce;

                                > i, > span {
                                    color: #2c2e3e;
                                }
                            }
                        }
                    }
                }
            }
            > li.menu-item > .menu-link:hover {
                background-color: #1b1d29;

                i, span {
                    color: #FFF;
                }
            }
        }
    }

    .main-content {
        position: relative;
        flex: 1 auto;
        padding: 40px;
        margin-bottom: 60px;
        overflow: hidden;
    }
}
.main-container.sidebar-collapsed {
    padding-left: 64px;

    .sidebar {
        width: 64px;
        transition-delay: .3s;
        border-right: 0;

        > .sidebar-header {
            width: 0;
        }

        ul.menu {
            > li.menu-item {
                .menu-link {
                    > span,
                    > i.fa:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    .sidebar:hover {
        width: 250px;
        border-right: 1px solid #2C2E3E;

        ul.menu {
            > li.menu-item {
                .menu-link {
                    > span,
                    > i.fa:last-child {
                        display: inline-block;
                    }
                }
            }
            > li.menu-item.open {
                ul.submenu {
                    display: block;
                }
            }
        }
    }
	.sidebar:hover ~ .main-content select:focus {
		display: none;
	}
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .actions {
        flex-shrink: 0;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.portlet {
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 2.2rem;

    .portlet-title {
        margin: -20px -20px 20px -20px;
        padding: 15px 20px 13px 20px;
        border-top: 3px solid #e0e0e0;
        color: #5f5f5f;
        border-bottom: 1px solid #f2f3f8;
    }
}

.ui-hero-datagrid,
.ui-hero-datagrid .info,
.ui-hero-datagrid .export-actions,
.ui-hero-datagrid .pagination {
    margin-bottom: 0 !important; 
}

.ui-hero-datagrid {
    table td img {
        width: auto;
        height: 50px;
    }
}

modal-container {
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .main-container {
        padding-left: 64px;
    }

    header {
        .stack {
            .stack-item {
                .logo {
                    .d-flex {
                        justify-content: start !important;
                    }
                }
            }
            .stack-item:first-child {
                width: 84px;

                .menu-toggler {
                    margin-right: 0 !important;
                }
                .navbar {
                    display: none;
                }
            }
        }
    }

    .header-with-sidebar {
        .logo {
            display: none;
        }
    }
}
@media (max-width: 650px) {
    header {
        .stack {
            .stack-item {
                .logo {
                    .sitename {
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    header {
        .stack {
            .stack-item {
                .logo {
                    display: none;
                }
            }
        }
    }
    .header-with-sidebar header {
        left: 80%;

        .navbar-nav {
            display: none !important;
        }
    }

    .main-container {
        padding-left: 80%;

        .sidebar {
            width: 80%;

            ul.menu > li.menu-item {
                width: 100%;
            }
        }
        .main-content > * {
            display: none;
        }
    }
    .main-container.sidebar-collapsed {
        padding-left: 0;

        .sidebar {
            width: 0;
        }
        .main-content > * {
            display: block;
        }
    }
    .main-container .main-content {
        padding: 20px;
    }
}