<div class="alert alert-{{ type }} no-margin" role="alert">
  {{ message }}
  <button (click)="onClose()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
