<div *ngIf="processo" class="portlet">
  <button type="button" class="close" aria-label="Close" (click)="unSelect()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h2>Detalhes do {{processo.name}}</h2>

  <div id="dados" [ngStyle]="{'color' : processo.status}">
    <div><span>id: </span>{{processo.id}}</div>
    <div><span>name: </span>{{processo.name}}</div>
    <div><span>paginas: </span>{{processo.pagina}}</div>
    <div><span>status: </span>{{processo.status}}</div>
  </div>


  <a href="http://www.google.com.br" target="_blank" style="float: left">
    <button type="button" class="btn btn-outline-info">Link Página Processada</button>
  </a>

  <a href="https://www.tce.rj.gov.br/" target="_blank">
    <button type="button" class="btn btn-outline-dark" style="float: right">Documento Original</button>
  </a>
</div>


