<div class="panel panel-default">
  <div class="panel-heading">
    <ng-content select=".personagem"></ng-content>
  </div>
  <div class="panel-body">
    <ng-content select=".tita"></ng-content>
  </div>
</div>
