<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui.
</div>

<div *ngIf="cursos.length == 0">
  Não há cursos para serem listados.
</div>


<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>

<div *ngIf="!mostrarCursos">
  Não há cursos para serem listados.
</div>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<h5>Hidden</h5>
<div [hidden]="mostrarCursos">
  Lista de cursos aqui.
</div>

<div [hidden]="!mostrarCursos">
  Não há cursos para serem listados.
</div>

<br><br>
<h2>Por baixo dos panos</h2>
<div>
  Lista de panos aqui.
</div>

<div ng-template="ngIf mostrarCursos">
  Lista de Loiane aqui.
</div>

<template [ngIf]="!mostrarCursos">
  <div>Mais panos aqui com template</div>
</template>
