<h2>Meus Processos</h2>
<!-- [ngStyle]="color" (mouseover)="color='yellow'" (mouseout)="color='red'" -->
<!-- [ngStyle]="{'color': class.onmouseover ? 'red' : 'green'}" -->
<!-- [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" -->
<!--  -->
<!-- [ngStyle]="{'color': corLetra + {{i}} }" -->
<ul class="processos">

  <li *ngFor="let processo of processos; let i = index;"
    (dblclick)="onSelect(processo)" (mouseover)="hovered = i" (mouseout)="hovered = -1"
    [class.selected]="processo === processoSelecionado"
    [style.background-color]="hovered === i ? processo.status : 'rgb(255, 255, 255)'"
    >
    <span>
      {{processo.name}}
    </span>
  </li>

</ul>

<app-processo-detalhe [processo]="processoSelecionado"></app-processo-detalhe>
