<h5>LOGIN</h5>

<div class="row">
  <div class="input-field col s12">
    <input [(ngModel)]="usuario.nome" type="text" id="usuario" class="validate"/>
    <label class="active" for="usuario">Usuario</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <input [(ngModel)]="usuario.senha" type="password" id="senha" class="validate"/>
    <label class="active" for="senha">Senha</label>
  </div>
</div>

<button class="btn waves-effect waves-light" type="submit" name="action" (click)="fazerLogin()">
  Login
  <i class="material-icons right">send</i>
</button>
