<div class="alert alert-info" role="alert">
  Seja <b>bem-vindo</b> ao Sistema {{siteName | uppercase}} do TCE-RJ.
</div>

<div class="portlet">
  <h4>Alterar Quantidade de Threads</h4>
  <p id="qtdThreads"></p>

  <button (click)="alterarThread()" class="btn btn-primary" id="alterarThreads">
    Alterar
  </button>

  <app-processos></app-processos>
</div>
