<!--<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch></app-diretiva-ngswitch>
<app-diretiva-ng-for></app-diretiva-ng-for>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretiva-ngstyle></app-diretiva-ngstyle>
<app-operador-elvis></app-operador-elvis>-->
<!--
<app-exemplo-ng-content>
  Conteúdo passado para o componente.
</app-exemplo-ng-content>


<app-exemplo-ng-content>
  <div class="personagem">Eren</div>
  <div class="tita">Titã de Ataque</div>
  Conteúdo passado para o componente.
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>
