<p>id: {{ id }}</p>
<div class="collection" *ngFor="let curso of cursos" routerLinkActive="active">
  <a class="collection-item" [routerLink]="['/cursos', curso.id]">
    {{ curso.nome }}
  </a>
</div>

<p>
  Pagina: {{ paginaAtual }}
</p>

<button class="btn btn-primary" [disabled]="paginaAtual==1" (click)="paginaAnterior()">
  prev
</button>
<button class="btn btn-primary" (click)="proximaPagina()">
  next
</button>
