<h1>Personagens</h1>
<ul class="alert alert-primary" role="alert">
  <li *ngFor="let p of personagens, let i = index"
    (mouseover)="hovered = i" (mouseout)="hovered = -1"
    [style.background-color]="hovered === i ? 'yellow' : 'rgb(255, 255, 255)'"
   >
    {{p.name}}
  </li>
</ul>

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>
