<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color: aqua; width: 500px; height: 300px;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<section>
  <div>
    Selecione uma classe:
    <select #classe (change)="0">
      <option valor="alert-success">Sucesso</option>
      <option valor="alert-danger">Erro</option>
      <option valor="alert-warning">Alerta</option>
      <option valor="alert-info">Info</option>      
    </select>
    
    <div class="alert" role="alert"
    [class.alert-sucess]="classe.value == 'alert-success'">
      This is a success alert—check it out!
    </div>
    

    <div class="alert  {{ classe.value }}" role="alert"
    >
      Sucesso
    </div>
    <div class="alert alert-danger" role="alert"
    [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Erro
    </div>
    <div class="alert" role="alert"
    [class.alert-warning]="classe.value == 'alert-warning'">
      Alerta
    </div>
    <div class="alert" role="alert"
    [class.alert-info]="classe.value == 'alert-info'">
      Info
    </div>
  </div>
</section>


<router-outlet></router-outlet>
