<app-header 
    [ngClass]="{'header-with-sidebar': !sidebarCollapsed}" 
    (OnToggleSidebar)="OnToggleSidebar()">
</app-header>

<div class="main-container" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>