<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input disabled [(ngModel)]="aluno.id" id="disabled" type="text">
          <label class="active" for="disabled" class="active">#</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input (input)="onInput()" [(ngModel)]="aluno.nome" id="first_name" type="text" class="validate">
          <label class="active" for="first_name">Nome do Aluno</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label class="active" for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="aluno.email" id="email" type="email" class="validate">
          <label class="active" for="email">Email</label>
        </div>
      </div>
    </div>
  </div>
