

<div *ngIf="curso; else backCurso" >
  <p>
    Id: {{ curso?.id }}
  </p>

  <p>Curso: {{ curso?.nome }}</p>
  <button class="btn btn-primary" [disabled]="id==1" (click)="cursoAnterior()">
    Curso Anterior
  </button>
  <button class="btn btn-primary" [disabled]="id==quantidadeCursos" (click)="proximoCurso()">
    Proximo Curso
  </button>
</div>
<ng-template #backCurso>
  <h1>CURSO NAO ENCONTRADO</h1>
  <button (click)="voltarParaCursos()">Voltar para Cursos</button>
</ng-template>
