<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="validationCustom01">Nome Curso</label>
      <input type="text" class="form-control" formControlName="nome"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
        id="validationCustom01" placeholder="Nome Curso">
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']" >
        Por favor, informe o nome do curso!
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']" >
        O nome do curso deve ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres
      </div>
      <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']" >
        O nome do curso deve ter no mínimo {{ hasError('nome')['maxlength'].requiredLength }} caracteres
      </div>
    </div>
  </div>
  <div style="margin: 20px">
    <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Salvar</button>
    <button type="submit" class="btn btn-outline-default" (click)="onCancel()">Cancelar</button>
  </div>
</form>
