<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Cursos</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading" >
      <thead>
        <tr>
          <th>#</th>
          <th>Curso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos" >
          <td>{{ curso.id }}</td>
          <td>{{ curso.nome }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>


    <ng-template #loading>
      <span>Carregando Cursos...</span>
    </ng-template>

    <!-- <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError">
        Erro ao carregar cursos. Tente novamente.
      </div>

      <ng-template #loadingNoError>
        <span>Carregando Cursos...</span>
      </ng-template>
    </ng-template> -->
  </div>
</div>

<button (click)="teste()" class="btn btn-primary">clique</button>
