<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink="" href="#" class="brand-logo right">Rotas</a>

    <ul id="nav-mobile" class="left">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/curso" [queryParams]="{pagina:1}">Cursos</a></li>
      <!-- <li routerLinkActive="active"><a [routerLink]="['/curso', idCurso.value]">Acessar com ID</a></li> -->
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
      <!-- <li><a routerLink="/cursos">Acessar com ID</a></li> -->
      <!-- <li routerLinkActive="active"><a routerLink="/curso">Curso com ID</a></li> -->
      <!-- <li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Acessar curso com ID</a></li> -->
      <!-- <li><a>Alunos</a></li> -->
    </ul>

  </div>
</nav>

<div class="container">
  <!-- <p>id</p>
  <input #idCurso> -->
  <router-outlet></router-outlet>
</div>
